<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-pills">
      <li ng-repeat="date in dates" ng-class="{'active': cur_day == date}">
      <a ng-click="getlog(date)" ng-href="">{{date}}</a>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table-bordered table table-hover" ng-show="logs">
      <thead>
        <tr>
          <th>时间</th>
          <th>应用名称</th>
          <th>入口名称</th>
          <th>网站名</th>
          <th>域名</th>
          <th>计数</th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat="log in logs">
        <td>{{log.minute}}</td>
        <td>{{log.app_name}}</td>
        <td>{{log.busi_name}}</td>
        <td>{{log.site_name}}</td>
        <td>{{log.domain}}</td>
        <td>{{log.count}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
