<div class="col-md-12">
  <ul class="list-inline">
    <li ng-repeat="date in dates">
      <a ng-href="#/map/{{uid}}/{{date.slice(6, 8)}}">{{date}}</a>
    </li>
  </ul>
</div>
<div class="col-md-10">
  <baidumap data="locations"></baidumap>
</div>
<div class="col-md-2">
  <p ng-repeat="log  in locations">
  {{log.start_time + '-' + log.end_time}} <br>
  {{log.location}}
  </p>
</div>
<div class="col-md-10">
  <baidumap data="stop_locations"></baidumap>
</div>
<div class="col-md-2">
  <p ng-repeat="log  in stop_locations">
  {{log.start_time + '-' + log.end_time}} <br>
  {{log.location}}
  </p>
</div>
<div class="col-md-12">
  <time-location-chart data="raw_locations"></time-location-chart>
</div>
<!--
<div class="col-md-12">
  <table class="table table-striped trable-bordered">
    <tr>
      <td>time</td>
      <td>entropy</td>
    </tr>
    <tr ng-repeat="item in transient_entropy">
      <td>{{item.time}}</td>
      <td>{{item.entropy}}</td>
    </tr>
  </table>
</div>
-->
<div class="col-md-12">
  <speed-chart data="speed_data"></speed-chart>
</div>
