
<h1>网络请求</h1>
<net-flow-heatmap data="data"></net-flow-heatmap>
<div class="col-md-5">
  <histgram data="web_req" index="hour" range="24"></histgram>
</div>
<div class="col-md-7">
<histgram data="req_by_day" index="day" range="32"></histgram>
</div>
<h1>通话</h1>
<net-flow-heatmap data="call_by_hour"></net-flow-heatmap>
<div class="row">
  <div class="col-md-5">
    <histgram data="call" index="hour" range="24"></histgram>
  </div>
  <div class="col-md-7">
    <histgram data="call_by_day" index="day" range="32"></histgram>
  </div>
</div>
