<pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" ng-change="pageChanged()"></pagination>
<table class="table table-striped table-bordered">
  <tr>
    <th class="text-center">uid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr  ng-repeat="user in users">
    <td class="text-center">{{user.uid}}</td>
    <td><a ng-href="#/net/{{user.uid}}">网络流量</a></td>
    <td><a ng-href="#/location/{{user.uid}}">地理位置</a></td>
    <td><a ng-href="#/app-logs/{{user.uid}}">网络日志</a></td>
  </tr>
</table>
<pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" ng-change="pageChanged()"></pagination>
